.col-lg-1 {
    background-color: red;
    color: white;
    padding: 25px;
    font-size: 23pt;
    font-family: Arial, Helvetica, sans-serif;
    display: inline-block;
    text-align: center;
  

   
}
.col-lg-8 {
    background-color: black;
    display: inline-block;
    text-align: left;
    padding: 20px;
    padding-top: 40px;
    font-weight:bold;
    font-size: 10pt;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-transform: uppercase;
    word-spacing: 30pt;
    padding-left: 30pt;

    
}
a {
    color:white;
}
.col-lg-3 {
    column-span: all;
    background-color: black;
    display: inline-block;
    color: white;
    box-align:  center;
    font-weight:bold;
    font-size: 10pt;
    padding: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-transform: uppercase;
    text-align: right;
}
.search {
   padding: -10px;
}
#shoppingcart {
    filter: invert(100);
}
#finder {
    background-color: red; 
    padding-left: 0pt;

}