
body {
    background-image:url("pinkcloud.jpg")
    
  }
.navbar{
    
    background-color: white;
    position: fixed;
    top: 0;
    border-radius: 3pt;
    width: 100%;
    padding: 10px;


}
.navbar a {
    color: grey;
    display: inline-block;
    font-size: 15; 
    text-align: center;



}


#Medellin {
   
   image-rendering: crisp-edges;
   display: block; 
   margin-left: auto;
   margin-right: auto;
   margin-top: 75px;
   border-radius: 8pt;
   box-shadow: 8px 8px lightgrey;

}
h3{
    margin-left:9%;
    margin-top: 10pt;
    margin-bottom:10pt;
    color: grey;
    font-size: 22px;
    font-family: Arial, sans-serif;
    padding: 10pt;
  }
.paragraph{

    color:grey;
    font-size: 18px;
    font-family: Arial, sans-serif;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
   
}
.Goose{ 

    box-shadow: 8px 8px whitesmoke;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10%;
  
}
#lyra {
    float: right;
    margin-left: 5%;
    margin-right:15%;
}

.quotes{
    color:grey;
    font-size: 24px;
    font-family: 'Gloria Hallelujah', cursive;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
      
}
form {
    background-color: burlywood;
    font-family: 
}
.footer {
   
    color: grey;
    background-color: white;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    font-family: 'Coming Soon', Cursive;
    
}


}
